@{
    ViewData["Title"] = "Erişim Reddedildi";
    // Layout = "_Layout"; // Eğer ana şablonu kullanmak isterseniz
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">Bu sayfaya erişim yetkiniz bulunmamaktadır.</h2>
<p>
    <a asp-controller="Home" asp-action="Index">Ana Sayfaya Dön</a>
</p>