@model CafeOtomasyon.Models.UserModel

@{
    ViewData["Title"] = "Kullanıcı Düzenle";
}

<h1>Kullanıcı Düzenle</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" /> <!--hangi kullanıcıyı güncellediğimizi bilmesi için gizli bir Id alanı-->
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group mb-2">
                <label asp-for="Username" class="control-label">Kullanıcı Adı</label>
                <input asp-for="Username" class="form-control" />
            </div>
            <div class="form-group mb-2">
                <label asp-for="Password" class="control-label">Şifre</label>
                <input asp-for="Password" class="form-control" />
            </div>
            <div class="form-group mb-2">
                <label asp-for="TC" class="control-label">TC Kimlik No</label>
                <input asp-for="TC" class="form-control" />
            </div>
            <div class="form-group mb-2">
                <label asp-for="Email" class="control-label">Email Adresi</label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group mb-2">
                <label asp-for="PhoneNumber" class="control-label">Telefon Numarası</label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>

            <div class="form-group mb-2">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-select">
                    <option value="">-- Rol Seçiniz --</option>
                    <option value="Yönetici">Yönetici</option>
                    <option value="Kasiyer">Kasiyer</option>
                    <option value="Garson">Garson</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
           <!-- <div class="form-group form-check mb-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> Aktif mi?
                </label>
            </div>
             -->
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}